<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Sing Up</title>
</head>
<body style="background: linear-gradient(to right, #6800a5, #8400db);">
        <a href="index.html" class="c">View Users</a>
        <div id="app" class="register">
            <h1 class="introduction">Sing Up</h1>
            <input type="text" v-model="newUser.first_name" placeholder="Имя"><br><br>
            <input type="text" v-model="newUser.last_name" placeholder="Фамилию"><br><br>
            <input type="text" v-model="newUser.password" placeholder="Пароль"><br><br>
            <input type="text" v-model="newUser.avatar" placeholder="Ссылка на аватарку"><br><br>
            <!--<input id="register" type="button" value="clickclick" v-on:click="createNewUser">-->
            <button v-on:click="createNewUser">Sing Up</button>
            <a href="index.html" class="c" v-on:click="createNewUser">Sing Up)</a>
        </div>
    <script src="script.js"></script>
</body>
</html>